body{
    background-color: #232323;
    margin:0;
    font-family: "Montserrat","Avenir";
}

.square{
    width:30%;
    background:purple;
    padding-bottom: 30%;
    float:left;
    margin:1.66%;
}

#container{
    max-width:600px;
    
}
 
h1{
    text-align: center;
    color:white;
    line-height: 1.1    ;
    font-weight: normal;
    background: steelblue;
    margin:0;
    text-transform: uppercase;
    padding: 20px 0;
}

#ColorDisplay{
    font-size: 200%;
}

#stripe{
    background-color: white;
    height:30px;
    text-align: center;
    color: black;
}

.selected{
    background: blue;
}
